body {
  margin: 0; /* remove default spacing */
  font-family: Arial, sans-serif;
  background-color: gray;
}

.navigation-bar {
  display: flex;
  justify-content: center;   /* center horizontally */
  align-items: center;       /* center vertically */
  gap: 20px;                 /* spacing between buttons */
  background-color: black;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;               /* full width */
  z-index: 1000;             /* stay on top of content */
  
}

.navigation-bar button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: beige;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
  gap: 8px;
}

.navigation-bar button:hover {
  background-color: #444; /* hover effect */
  border-radius: 5px;
}

/*search bar style*/
.search-bar {
  display: flex;
  align-items: center;
  margin-left: auto; /*push search bar to the right*/
  gap: 5px;
}

.search-bar input {
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.search-bar button {
background: #444;
border: none;
color: whitesmoke;
padding: 6px 10px;
border-radius: 5px;
cursor: pointer;
transition: 0.3s;
}

.search-bar button:hover {
  background:#666;
}



main {
  margin-top: 70px; /* push content below navbar */
  padding: 20px;
}

.textbook {
  display: flex;              /* Arrange side by side */
  align-items: flex-start;    /* Align at the top */
  gap: 20px;                  /* Space between image and text */
  margin: 20px;
}

.textbook-image {
  width: 700px;               /* Fix image width */
  height: auto;               /* Keep aspect ratio */
  flex-shrink: 0;             /* Prevent image from shrinking */
  border-radius: 10px;
}

.textbook-content {
  flex: 1;                    /* Take remaining space */
  font-size: 16px;
  line-height: 1.6;
}

/*SECTION STYLE*/
#places {
  padding: 60px 20px;
  background-color: ghostwhite;
}

/* Grid layout */
.places-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
}

/* Card style */
.place-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  transition: 0.3s;
}

.place-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.place-card h3 {
  margin: 15px 0 10px;
  color: #333;
}

.place-card p {
  padding: 0 15px 20px;
  color: #666;
}

.place-card:hover {
  transform: translateY(-5px);
}
